.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
   
    
  }
  .profile{
    font-size: x-small;
  }

h1{
    text-align: center;
    color: rgb(113, 113, 249);

}
h4{
    text-align: center;
}
.profile-para{
    text-align: center;
}
.wrk-exp{
    text-align: center;
}
h2{
    text-align: center;
    color: rgb(113, 113, 249);

}
.cllg-name{
    color: rgb(113, 113, 249) ;

}
.college-n{
    text-align: center;
}
.degree{
    font-size: x-small;
}
.skills{
    text-align: center;
    text-decoration: solid;
}
.projects{
    text-align: center;
}
.interests{
    text-align: center;
}
footer{
    text-align: center;
    padding: 3px;
  background-color: DarkSalmon;
  color: white;
}
.column {
    text-align: center;
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }