h1{
    text-align: center;
    color: rgb(113, 113, 249);

}
h4{
    text-align: center;
}
.profile-para{
    text-align: center;
}
.wrk-exp{
    text-align: center;
}
h2{
    text-align: center;
    color: rgb(113, 113, 249);

}
.cllg-name{
    color: rgb(113, 113, 249) ;

}
.college-n{
    text-align: center;
}
.degree{
    font-size: x-small;
}
.skills{
    text-align: center;
    text-decoration: solid;
}